
.input-container {
  width: 100%;
  border-radius: 8px;
  background: var(--gray-500);
  padding: 16px;
  color: var(--gray-100);
  border: 1px solid var(--gray-700);
}

.input-container:focus {
  outline: 1px var(--blue-dark) solid;
}

.input-container::placeholder {
  color: var(--gray-300);
}